app-custom-input {
  width: 400px;
  display: block;
  border: 1px solid lightgray;
  padding: 5px;
  margin-bottom: 10px;
  input {
    border: none;
    width: 90%;
  }
}

mat-form-field {
  width: 400px;
}
