<mat-card>

  <app-custom-input icon="home" class="custom-yellow-theme">
    <input #input type="text" name="username" placeholder="username">
  </app-custom-input>

  <app-custom-input icon="key" class="custom-red-theme">
    <input #input type="password" name="password" placeholder="password">
  </app-custom-input>


  <button mat-stroked-button>Log In</button>

  <!-- <mat-form-field>
    <input matInput appDlistener type="text" placeholder="username 2" value="this is the day that the lord has made">
  </mat-form-field> -->

</mat-card>


<!-- <app-custom-button>
  <button mat-stroked-button color="accent">Click me!</button>
</app-custom-button> -->
